@charset "UTF-8";

/*------共通部分-----*/
html {
    /*フォントサイズをユーザ指定に合わせる*/
    font-size: 100%;
}

body {
    /*フォント*/
    font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", sans-serif;
    /*行の高さ*/
    line-height: 1.7;
    /*色*/
    color: white;
    background-color: black;
    font-size: medium;
}

a {
    /*aタグの装飾をリセット*/
    text-decoration: none;
}

img {
    /*画像サイズに制限をかける*/
    max-width: 100%;
}

.subtitle {
    font-weight: bolder;
    font-size: large;
}

p{
    margin-left: 20px;
}


/* ---非共通部分--- */
#doorplate {
    /* アニメーション */
    animation: flash 10s linear infinite;
    /* 色 */
    background-color: white;
    color: black;
    /* ボックス */
    position: relative;
    max-width: 300px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 100px;
    border-radius: 20px;
    /* テキスト */
    text-align: center;
}
@keyframes flash{
    0%,50%,100%{
        background-color: white;
        box-shadow: 0px 0px 50px white;
    }
    19.5%{
        background-color: white;
        box-shadow: 0px 0px 50px white;
    }
    20%{
        background-color: black;
        box-shadow: none;
    }
    20.5%{
        background-color: white;
        box-shadow: 0px 0px 50px white;
    }
    60%{
        background-color: white;
        box-shadow: 0px 0px 50px white;
    }
    60.5%{
        background-color: black;
        box-shadow: none;
    }
    61%{
        background-color: white;
        box-shadow: 0px 0px 50px white;
    }
    62.5%{
        background-color: white;
        box-shadow: 0px 0px 50px white;
    }
    63%{
        background-color: black;
        box-shadow: none;
    }
    63.5%{
        background-color: white;
        box-shadow: 0px 0px 50px white;
    }
}

#maincontent {
    margin: 30px;
}